
.cart-image {
	float: right;
}

body {
	margin: 0;
  	font-family: American Typewriter;
}



.topnav {
  overflow: hidden;
  background-color: #ADD8E6;
}

.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ddd;
  color: Black;
}

/*title*/
h2 {
	font-family: "American Typewriter";
	text-align: center;
	font-size: 40px;

}

/*pillow type and cost*/
h3 {
	font-family: "American Typewriter";
	text-align: center;
	font-size: 30px;

}

/*image of pillow*/
.img-container {
  	float: left;
  	width: 30%;
  	padding: 5px;
  	border-style: solid;
  	margin: 20px 40px;
}

.left-container {
	display: inline;
}

.right-container img {
	width: 10%;
	margin: 11px;
}




.right-container {
	height: 60vh;
}

.stuffingcomparison {
  float: right;
}

.quantity{
  float: left;
}

.backtext {
	float: left;
	font-size: 20px;
}

/*add to cart*/
.add-image {
	float: right;
	width:30%;
  height: auto;
}





