body {
	margin: 0;
  	font-family: American Typewriter;
 	background-image: url("backgroundfeathers.jpg");
	background-size: cover;

 	background-position: center center;
}




.topnav {
  overflow: hidden;
  background-color: #ADD8E6;
}

.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ddd;
  color: Black;
}

.subtitle{
  text-decoration: none;
}


.cart-image{
  float: right
}

/*Title*/
h1 {
	font-family: "American Typewriter";
	color: black;
	font-size:200px;
	text-align: center
}

.subtitle {
	font-family: "American Typewriter", cursive;
	color: black;
	font-size:50px;
	text-align: center

}

