h2 {
	font-family: "Florence", cursive;
	text-align: center;
	font-size: 40px;

}
.item1 {
  	width: 30%;
  	padding: 5px;
  	margin: 20px;
}



.item2 {
  	width: 30%;
  	padding: 5px;
  	margin: 20px;
}

.items{
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
}

.subtotal{
  font-size: 26px;
}

.checkout{
  font-size: 32px;
  float: right;
}
