.duckdown p {
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
}

.hypo p {
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
}

.foam p {
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
}